* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: 'Gotham', sans-serif;
}

/* Barra de Navegação - Início*/
.navigation-bar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  padding-top: 1.75rem; 
}
.navigation-bar-img {
  width: 130px;
  height: 100%;
  margin-left: 3.5rem;
}
 #logo {
  width: 100%;
  height: 100%;
}
.navigation-bar-item {
  display: flex;
  width: 230px;
  height: 100%;
  justify-content: space-between;
  margin-right: 3.5rem;
}
.navigation-item {
  display: flex;
  gap: 35px;
}
.language {
  border: 1px solid rgb(140, 140, 140);
  padding: 0.5rem 0.6rem;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.4);
}
.fa-globe, .fa-caret-down {
  color: rgb(255, 255, 255);
}
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: none;
  font-size: 0.875rem;
  font-weight: 400;
}
.select:focus {
  outline: none;
}
.select option {
  background-color: rgb(179, 179, 179);
  z-index: 3;
} 
.signin-button {
  background-color: rgb(229, 9, 20);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  border: 1px solid rgb(229, 9, 20);
  padding: 7px 17px;
  border-radius: 3px;
}
/* Barra de Navegação - Fim*/

/*Main*/
/*Seção Iniciar/Assinar - Início*/
.container-background-img {
  width: 100%;
  height: 100vh;
}
.img-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-background-overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top, 
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
    );
} 
.container-card {
  margin: 0 auto;
  max-width: 950px;
  padding: 85px 0;
  position: absolute;
  top: 21%;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin-left: 200px; 
}
.title-container {
  font-weight: 500;
  font-size: 3.125rem;
}
.subtitle-container {
  font-size: 1.625rem;
  font-weight: 400;
}
.description-container {
  font-size: 1.22rem;  
}
.form-container {
  margin: 0 auto;
  max-width: 950px;
  padding-top: 0.85rem;
  display: flex;
  flex-direction: column;
}
.div-inputs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}
.div-email-input {
  height: 60px;
  width: 450px;
  padding: 10px;
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  transition: font .1s ease, top .1s ease, transform .1s ease;
  position: relative;
}
.div-email-label {
  font-size: 1rem;
  color:rgb(140, 140, 140);
  text-align: left;
  padding: 10px;
  position: absolute;
  top: 70%;
  left: 16.8%;
  transition: 0.5s;
}
.div-email-input:focus {
  border: 1px solid #0071eb;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  padding: 16px 10px 0 10px;
  outline: none;
  box-shadow: none;
}
.div-email-input:focus + .div-email-label {
  top: 68%;
  font-size: 0.725rem;
  font-weight: 700;
}
.button:hover {
  cursor: pointer;
  background: rgb(244, 6, 18);
  box-shadow: 0 1px 0 rgb(0 0 0 / 45%);
}
.button {
  background-color: rgb(229, 9, 20);
  height: 60px;
  width: 182px;
  border: 0;
  border-left: 1px solid #333;
  box-shadow: 0 1px 0 rgb(0 0 0 / 45%);
  font-size: 1.625rem;
  font-weight: 400;
  color: white;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.fa {
  font-size: 1.25rem;
  padding-left: 5px;
}
/*Seção Iniciar/Assinar - Fim*/

/* Div Aproveite na TV - Início */
.principal {
  border-top: 8px solid rgb(34, 34, 34);
  display: flex;
  padding: 70px 45px;
  height: 480px;
}
.subprincipal {
  margin: 0px 80px;
  /* margin: 0 auto; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
}
.principal-details {
  flex: 0 1 auto;
  height: 100%;
  padding: 0 1rem 0 0;
  width: 50%;
  align-items: flex-start;
}
.principal-title {
  font-size: 3.125rem;
  font-weight: 600;
  margin-top: 4.6rem;
  margin-bottom: 0.5rem;
}
.principal-subtitle {
  font-size: 1.625rem;
  font-weight: 400;
  margin-top: 1.5rem;
}
.principal-image-container {
  width: 46%;
  position: relative;
}
.principal-image {
  width: 100%;
}
.principal-video-container {
  position: absolute;
  width: 100%;
  top: 20%;
  left: 13%;
  height: 100%;
  max-width: 73%;
  max-height: 54%;
  z-index: -2;
}
.principal-video {
  width: 100%;
}
/* Div Aproveite na TV - Fim */

/* Div Offline - Início */
.div-subprincipal {
  flex-direction: row-reverse;
}
.principal-poster-container {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 21rem;
  display: flex;
  align-items: center;
  background-color: black;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  height: 100px;
  padding: 0.25rem 0.6rem;
  gap: 15px;
}
.poster-container {
  width: 20%;
}
.poster {
  width: 100%;
  height: 100%;
}
.poster-details {
  width: 60%;
}
.poster-details h4 {
  font-size: 0.925rem;
  font-weight: 600;
}
.poster-details h5 a {
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: 500;
  color: rgb(0, 113, 235);
}
.gif-container {
  width: 20%;
  height: 100%;
}
.gif {
  width: 100%;
  height: 100%;
}
/* Div Offline - Fim*/
    


/* Seção Tempo - Início */
.container-tempo .container-texto {
  padding-right: 15%;
}

.container-tempo .container-img-animacao img {
  position: absolute;
  max-width: 100%;
  padding-top: 8%;
}

.video-2 {
  margin-left: 19%;
  margin-top: 14%;
  width: 61%;
}
/* Seção Tempo - Fim */


/* Seção Perguntas - Início */
.separacao {
  background: transparent;
  border-bottom: 8px solid #222;
  color: #fff;
  margin-bottom: 0;
  padding: 50px 5%;
  position: relative;
}
.container-perguntas {
  background: transparent;
  border-bottom: 8px solid #222;
  color: #fff;
  margin-bottom: 0;
  padding: 50px 5%;
  position: relative;
  text-align: center;
}
.div-container-texto {
  font-size: 1.625rem;
  font-weight: 400;
}
.div-container-texto h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.lista-perguntas {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  max-width: 815px;
  margin: 1.25em auto;
}
.lista-perguntas-item {
  display: list-item;
  text-align: -webkit-match-parent;
  list-style-type: none;
}
.pergunta, .resposta {
  background: #303030;
  text-align: left;
  color: inherit;
  font: inherit;
  font-weight: 400;
  width: 100%;
  border: 0;
}
.pergunta {
  margin: 8px 0 0 0;
  padding: 0.8em 2.2em 0.8em 1.2em;
  position: relative;
  display: block;
  cursor: pointer;
}
.fa-plus, .fa-xmark {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}
.resposta {
  display: none;
  margin-top: 1px;
  max-height: 0;
  overflow: hidden;
  transition: max-height .25s cubic-bezier(.5,0,.1,1);
}
.lista-perguntas .resposta span {
  display: inline-block;
  padding: 1.2em
}
/* Seção Perguntas - Fim */

/* Seção Links - Início */
.container-footer {
  padding: 70px 70px 10px 50px;
  color: #737373;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  max-width: 1000px;
}
.container-footer h3 {
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 10px;
}
.container-footer p {
  color: #737373;
  font-size: 0.8rem;
  margin-bottom: 20px;
}
.container-colunas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.coluna {
  width: 18%;
}
.container-final .language {
  width: max-content;
  height: max-content;
  border: 1px solid #414141;
  color: #8c8c8c;
  padding: 16px 5px 16px 16px;
  border-radius: 2px;
}
.origem p {
  padding-top: 10px;
}
/* Seção Links - Fim */

/* Responsivo */
@media(max-width: 949px) {
  .vitrine {
    display: block;
    height: 100%;
  }
  /* Iniciar/Assinar */
  .vitrine .container-assinatura {
    position: relative;
  }
  .vitrine .container-assinatura h1 {
    font-size: 3.1rem;
    margin: 0px 98px;
    padding-top: 10px;
  }
 
  .vitrine .container-assinatura .paragrafo {
    font-size: 1.43rem;
    padding: 0px 145px;
    padding: 10px 145px 10px 145px;
  }
  .vitrine .container-assinatura input {
    padding: 17px;
    width: 55%;
  }
  .vitrine .container-assinatura button {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 1.5%;
    padding: 12px;
  }
  /* Seção Aproveite na TV */
  main .container-aproveiteNaTV {
    display: block;
  }
  .container-aproveiteNaTV {
    height: 672px;
    padding: 70px 45px;
  }
  .container-texto {
    width: 100%;
    text-align: center;
    padding: 0px;
  }
  .container-texto h1 {
    font-size: 2.5rem;
  }
  .container-texto h2 {
    font-size: 1.25rem;
    margin: 15px 0px 5px;
  }
  .container-img-animacao {
    max-width: 100%;
    margin-left: 130px;
  }
  /* Seção Offline  */
  .container-offline {
    flex-direction: column-reverse;
    padding: 70px 45px;
    height: 659px;    
  }
  .container-offline .container-texto {
    padding: 0px;
    height: 20%;
  }
  .container-img-smartphone {
    height: 80%;
  }
  .container-img-smartphone img {
    height: 120%;
    margin-left: 120px;
  }
  
    
  /* Seção Tempo  */

  /* Seção Perfil */

  /* Seção Perguntas */

  /* Seção links */

}

@media(max-width: 686px) {
  /* Barra de Navegação */
  .vitrine-topo {
    padding: 26px 0px 0px 25px;
  }
  .vitrine-topo #logo {
    height: 25px;
  }
  .vitrine-topo .botao-entrar {
    position: relative;
    right: 25px;
    padding: 2px 10px;
  }
  .vitrine-topo select {
    position: relative;
    right: 40px;
    padding: 2px 10px;
  }
  /* Iniciar/Assinar */
  .vitrine .container-assinatura {
    position: relative;
    top: 60px;
  }
  .vitrine .container-assinatura h1 {
    font-size: 2rem;
    padding: 50px 50px 50px 0px;
  }
  .vitrine .container-assinatura h2 {
    font-size: 1.5rem;
  }
  .vitrine .container-assinatura .paragrafo {
    font-size: 1rem;
  }
  .vitrine .container-assinatura input {
    padding: 14px;
    width: 70%;
  }
  /* Seção Aproveite na TV */

  /* Seção Offline  */

  /* Seção Tempo  */

  /* Seção Perfil */

  /* Seção Perguntas */

  /* Seção links */
  
}

@media(max-width: 346px) {
  /* Barra de Navegação */
  .vitrine-topo #logo {
    height: 22px;
  }
  .vitrine-topo .botao-entrar {
    padding: 1px 5px;
  }
  .vitrine-topo select {
    padding: 1px 0px;
    position: relative;
    right: 30px;
  }
  /* Iniciar/Assinar */
  .vitrine .container-assinatura h1 {
    font-size: 1.5rem;
  }
  .vitrine .container-assinatura h2 {
    font-size: 1.1rem;
  }
  .vitrine .container-assinatura .paragrafo {
    font-size: 0.8rem;
  }
  .vitrine .container-assinatura input {
    padding: 14px;
    width: 70%;
  }
  /* Seção Aproveite na TV */

  /* Seção Offline  */

  /* Seção Tempo  */

  /* Seção Perfil */

  /* Seção Perguntas */

  /* Seção links */
  
}
